.faq .section__title {
  margin-bottom: 3rem;
}

.accoridon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion__content {
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.accordion__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-gray);
  padding: 0.5rem;
  border-radius: 4px;
}

.accordion__question-text {
  font-weight: 600;
  font-size: var(--size-sm);
}

.plus-icon,
.minus-icon {
  font-size: var(--size-2xl);
  color: var(--color-dark);
}

.accordion__answer {
  display: none;
  transition: all 0.5s ease;
}

.accordion__answer {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.accordion__description {
  color: var(--color-gray);
  font-size: var(--size-sm);
}

.accordion__content.active .accordion__answer {
  display: block;
}

.plus-icon {
  display: block;
}
.minus-icon {
  display: none;
}

.accordion__content.active .plus-icon {
  display: none;
}
.accordion__content.active .minus-icon {
  display: block;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .accordion__question-text {
    font-size: var(--size-base);
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
