.footer {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding-block: 4rem;
}

.footer__text {
  font-size: var(--size-xl);
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 1rem;
}

.copyright {
  padding-top: 1rem;
  text-align: center;
}

.copyright span {
  font-size: var(--size-sm);
  color: var(--color-gray);
}
