.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  animation: heroFadeIn 1s ease forwards;
  transition: 800ms ease;
}

.hero-show {
  transform: translateY(0);
  opacity: 1;
}

@keyframes heroFadeIn {
  from {
    opacity: 0;
    transform: translateY(-8rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero__description {
  font-size: var(--size-sm);
  color: var(--color-gray);
}

/* Animations */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .hero__description {
    font-size: var(--size-base);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
