.mobile-nav {
  position: fixed;
  padding-top: 5rem;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: width 0.5s ease;
  z-index: 10000;
}

.mobile-nav__menu {
  padding-left: 0;
}

.mobile-nav__menu li {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.mobile-nav__menu li:hover {
  background-color: rgba(23, 26, 32, 0.1);
}

.mobile-nav__menu {
  display: flex;
  flex-direction: column;
}

.mobile-nav__link {
  width: 100%;
  color: var(--color-dark);
}

.close-icon {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}
