.pomodoro-container {
  min-height: 100vh;
  background: url("./library-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  display: none;
}

.pomodoro-container .container {
  position: relative;
  z-index: 4;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 3;
}

.pomodoro-durations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pomodoro-btn {
  color: var(--color-white);
  font-weight: 600;
  border: 1px solid var(--color-white);
  padding: 1em;
  border-radius: 500px;
  transition: all 0.5s ease;
}

.pomodoro-btn:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.pomodoro-timer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size-9xl);
  font-weight: 700;
}

.pomodoro-clock-actions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.pomodoro-btn-secondary {
  background-color: var(--color-white);
  color: var(--color-dark);
  font-weight: 600;
  border: 1px solid var(--color-white);
  padding: 1em 2em;
  border-radius: 500px;
  font-size: var(--size-lg);
  transition: all 0.5s ease;
}

.pomodoro-btn-secondary:hover {
  background-color: transparent;
  color: var(--color-white);
}

.pomodoro-btn-icon i {
  color: var(--color-white);
  font-size: var(--size-5xl);
  font-weight: 600;
  transition: all 0.5s ease;
}

.pomodoro-btn-icon i:hover {
  font-size: var(--size-6xl);
}

.pomodoro-btn-icon span {
  color: var(--color-white);
  font-size: var(--size-2xl);
  font-weight: 600;
  border: 1px solid var(--color-white);
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pomodoro-btn-icon span:hover {
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
}

.pomodoro--active {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.active-timer {
  display: block;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
