.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study__description {
  margin-top: 1rem;
  font-size: var(--size-sm);
  color: var(--color-gray);
  text-align: center;
}

.study__btn-primary,
.study__btn-secondary,
.study__btn-tertiary {
  background-color: var(--btn-study-bg-color-primary);
  padding: 0.5em 1em;
  border-radius: 4px;
  color: var(--color-white);
  transition: backgroundColor, 0.5s ease;
}

.study__btn-primary:hover {
  background-color: var(--btn-study-bg-color-primary-hover);
}

.study__btn-secondary {
  background-color: var(--btn-study-bg-color-secondary);
}

.study__btn-secondary:hover {
  background-color: var(--btn-study-bg-color-secondary-hover);
}

.study__btn-tertiary {
  background-color: var(--btn-study-bg-color-tertiary);
}

.study__btn-tertiary:hover {
  background-color: var(--btn-study-bg-color-tertiary-hover);
}

.study__tab-buttons {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.study__tabs-container {
  padding-block: 3rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.study__tab p {
  color: var(--color-dark);
  font-size: var(--size-base);
  max-width: 80ch;
  text-align: center;
  font-weight: 500;
}

.study__content {
  display: none;
}

.study__btn--active {
  transform: translateY(-22%);
}

.study__content--active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .study__tab-buttons {
    margin-block: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .study__description {
    font-size: var(--size-base);
    color: var(--color-gray);
    text-align: center;
    max-width: 80ch;
    margin-top: 1rem;
  }

  .study__tab p {
    font-size: var(--size-lg);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
