@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* font family */
  --font-family: "Noto Sans Display", sans-serif;
  --font-family-heading: "Poppins", sans-serif;

  /* colors */
  --color-white: #fff;
  --color-dark: #171a20;
  --color-gray: #5c5e62;

  /* button */
  --btn-background-color-primary: rgb(62, 106, 225);
  --btn-background-color-secondary: #171a20;
  --btn-background-color-tertiary: rgb(244, 244, 244);

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  font-family: var(--font-family);
  background-color: var(--color-white);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  font-family: var(--font-family);
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  font-family: var(--font-family);
  text-decoration: none;
}


section {
  height: 800px;
}