/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

/* Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.section-gap {
  margin-top: 3rem;
}

/* Lazy Loading */

.loading {
  filter: blur(40px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: 0.7s ease-in-out;
}

/* Highlight for text */
.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* sticky header */
.header.sticky {
  position: fixed;
}

/* Buttons */
.button-primary,
.button-secondary,
.button-tertiary {
  display: inline-block;
  width: 200px;
  max-width: auto;
  font-size: var(--size-sm);
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--btn-background-color-primary);
  color: var(--color-white);
  padding: 6px;
  border-radius: 4px;
  border: 3px solid var(--btn-background-color-primary);
  transition: all 0.5s ease;
}

.button-primary:hover {
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
  background-color: rgb(49, 83, 175);
  border-color: rgb(49, 83, 175);
}

.button-secondary {
  background-color: var(--btn-background-color-secondary);
  border-color: var(--btn-background-color-secondary);
}

.button-secondary:hover {
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
  background-color: rgb(39, 44, 54);
  border-color: rgb(39, 44, 54);
}

.button-tertiary {
  background-color: var(--btn-background-color-tertiary);
  color: var(--color-dark);
  border-color: var(--btn-background-color-tertiary);
}

.button-tertiary:hover {
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
  background-color: rgb(224, 224, 224);
  border-color: rgb(224, 224, 224);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  color: var(--color-dark);
}

h1 {
  font-size: var(--size-3xl);
  font-weight: 700;
  line-height: 1.6;
  max-width: 380px;
}

h2 {
  font-size: var(--size-2xl);
  font-weight: 600;
  text-align: center;
}

/* Animations */
.section {
  transform: translateY(8rem);
  opacity: 0;
  transition: 800ms ease;
}
.section.show {
  transform: translateY(0);
  opacity: 1;
}

/* Responsive */

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  h1 {
    font-size: var(--size-4xl);
    max-width: 380px;
  }

  h2 {
    font-size: var(--size-3xl);
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  h1 {
    font-size: var(--size-5xl);
    max-width: 500px;
  }

  h2 {
    font-size: var(--size-4xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 100%;
  }


  h1 {
    font-size: var(--size-6xl);
    max-width: 100%;
  }

  h2 {
    font-size: var(--size-5xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
